*{
    margin:0;
    padding:0;
    font-size:large;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }
  p{
    font-weight:200;
    font-family: 'Montserrat', sans-serif;
  
  }
.imagen{   
    background: url('https://github.com/rinarive/retoTecnico/blob/master/ChooseRoomate.jpg?raw=true') no-repeat center center;
    
    background-size: cover;
    min-height: 100vh;
    display: flex;
  
}

.container{
    flex-direction: column;
    width: 80%;
    margin-top: 50vh,
   
}
.middle {
    transition: .5s ease;
    position: absolute;
    top: 70%;
    left: 70%;
    background-color: black;
    width: 80%;
    padding: 15%;
    opacity:0.5;
    border: black;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
    
  }
  
  .text {
    color: white;
    font-size: 16px;
  }
  .hidden{
      border-radius: 20px;
      font-family: 'Montserrat', sans-serif;

  }
  .element{
    display: flex;
    width: max-content;
    justify-content: center;
    flex-wrap: wrap;
  }